.card-icon {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card-icon:hover {
    transform: scale(1.05);
    color: #dc3545;
    cursor: pointer;
}

.responsive-card {
    padding: 20px;
    box-shadow: 5px 1px 1px solid black;
    overflow: hidden; /* Ensure no overflow */
}

/* Media queries for responsive card and text */
@media (max-width: 575.98px) {
    .responsive-card {
        width: 95%;
        padding: 10px;
    }
    .responsive-title {
        font-size: calc(3rem + 1vw);
        color: #dc3545; /* Heading color */
        margin-bottom: 10px;
        font-weight: 400;
    }
    .responsive-text {
        font-size: calc(0.85rem + 0.3vw);
        text-align: justify;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .responsive-card {
        width: 85%;
        padding: 20px;
    }
    .responsive-title {
        font-size: calc(1.8rem + 1vw);
        color: #dc3545; /* Heading color */
        font-weight: 400;
    }
    .responsive-text {
        font-size: calc(0.95rem + 0.3vw);
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .responsive-card {
        width: 70%;
        padding: 30px;
    }
    .responsive-title {
        font-size: 3rem;
        color: #dc3545; /* Heading color */
        margin-bottom: 10px;
        font-weight: 500;
    }
    .responsive-text {
        font-size: 1.25rem;
        text-align: justify;
    }
}
