@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

.logo {
  width: 190px;
  height: 90px;
  cursor: default;
}

.nav_links {
  list-style: none;
  padding: 10;
  margin: 0;
}

.nav_links li {
  display: inline-block;
  padding: 0px 30px;
  transition: all 0.1s ease-in-out;
  margin: 25px;
  margin-top: 35px;
  color: #403b3b;
}

.nav_links li a {
  transition: all 0.1s ease-in-out 0s;
  transform: scale(1);
}

.nav_links li a:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.1);
}

.contact {
  margin-top: 10px;
  padding: 9px 20px;
  border: 1px solid black;
  color: black;
  transition: 0.2s ease-in-out;
  border-radius: 50px;
}

button:hover {
  border: 1px solid red;
  transform: scale(1.09);
  color: red;
  cursor: pointer;
  border-radius: 50px;
}
