.nav{
    scale: 1;
}

.nav-item > a {
    text-decoration: none;
    font-size: 18px;
}

.active-link {
    color: #af3129 !important;
}


.contact-btn{
    width: 130px;
    height: 45px;
    outline: none;
    border: 1px solid #af3129;
}

.contact-btn:hover{
    background-color: #a82920;
}