.chart-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.chart-container {
    width: 100%;
    max-width: 20rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.red-asterisk, .green-asterisk, .yellow-asterisk, .blue-asterisk {
    margin-right: 0.5rem;
    font-size: 2rem; /* Adjust the size as needed */
}

.red-asterisk {
    color: red;
}

.green-asterisk {
    color: green;
}

.yellow-asterisk {
    color: #d39e00;
}

.blue-asterisk {
    color: blue;    
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .chart-text-container {
        grid-template-columns: 1fr;
    }

    .chart-container {
        justify-self: center;
    }
    
    .text-container {
        justify-self: center;
    }
}

@media (max-width: 480px) {
    .red-asterisk, .green-asterisk, .yellow-asterisk, .blue-asterisk {
        font-size: 1.5rem; /* Adjust the size for smaller screens */
    }
}
