*{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --blue-500: #007bff;
    --yellow-500: #ffc107;
    --green-500: #28a745;
    --red-400: #ae0b0b;
    --blue-400: #0056b3;
    --yellow-400: #d39e00;
    --green-400: #1e7e34;
    --red-500:#ae0b0bb9;
    
}